<!-- <div id="div1">
<a routerLink="components/test">test</a>
<a routerLink="components/test1">test1</a>
<a routerLink="components/test2">test2</a>
</div> -->
<router-outlet></router-outlet>
<!-- <p>all things are done in Basic Routing</p>
<p>Lazy Routing</p>
<ul>
    <li>
        <a routerLink="components2/Test4">Test4</a>
    </li>
    <li>
        <a routerLink="components2/Test5">Test5</a>
    </li>
</ul> -->
<app-test></app-test>
<app-test1></app-test1>
<app-test2></app-test2>
<app-test3></app-test3>

<p>Functions:</p>
<button (click)="get_name()">Click me</button>
<button (click)="getName('kausar' ,'chaudhary')">Click me</button>
<h3>Events:</h3>
<p>Key Events</p>
<input type="text" #input (keyup)="getData(input.value)" placeholder="Key Up"/><br/>
<input type="text" #input1 (keydown)="getData1(input1.value)" placeholder="Key Down"/><br  />
<input type="text" #input2 (keypress)="getData2(input2.value)" placeholder="Key Press"/><br  />
<input type="text" #input3 (blur)="getData2(input3.value)" placeholder="blur"/>
<h2 (mouseover)="getData2('mouseover')">Mouse Events</h2>
<h2 (mouseleave)="getData2('mouseleave')">Mouse Events</h2>
<h2 (mouseenter)="getData2('mouseenter')">Mouse Events</h2>
<h2 (mousedown)="getData2('mousedown')">Mouse Events</h2>
<h2 (mouseup)="getData2('mouseup')">Mouse Events</h2>
<h2 (mousewheel)="getData2('mousewheel')">Mouse Events</h2>
<h1>Get Input Box value</h1>
<input type="text" placeholder="Name" name="getValueByPressing"(keyup)="getValue(val.value)" #val>
<input type="text" placeholder="Name" name="GetPropertyName"(keyup)="getValue(val.name)" #val>
<input type="text" placeholder="getPlaceHolderValue" name="name"(keyup)="getValue(val.placeholder)" #val>
<p>
Get the input value :{{displayval}}
</p>
<h1>Counter in Angular</h1>
<button (click)=" counter('add')">++</button>
<p>Count : {{count}}</p>
<button (click)="counter('sub')">--</button>
<p id="internal">Internal Css apply by using style tag in the same copmonent</p>
<style>
    #internal{
        color: brown;
    }
</style>
<h1>Property Binding</h1>
<input type="text" value={{name}} disabled={{disable}}/>
<br><br>
<input type="text" value={{name}} [disabled]="disable"/>
<h1>If-else</h1>
<h1 *ngIf="show; else elseblock"> If block</h1>
<ng-template #elseblock>
    <h1>
        Else block
    </h1>
</ng-template>
<h3>Even odd using if-else</h3>
<p *ngIf="number % 2==0; else odd">
    {{number}} is even number.
</p>
<ng-template #odd>
    {{number}} is odd number.
</ng-template>

<h1>else if in angular</h1>
<ng-template [ngIf]="color==='red'">
   <p>color is red</p>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <p>color is blue</p>
 </ng-template>
 <h1>Switch case</h1>
 <div [ngSwitch]="vowel">
    <p *ngSwitchCase="'a'" >it is a vowel</p>
    <p *ngSwitchCase="'e'" >it is a vowel</p>
    <p *ngSwitchCase="'i'" >it is a vowel</p>
    <p *ngSwitchCase="'o'" >it is a vowel</p>
    <p *ngSwitchCase="'u'" >it is a vowel</p>
    <p *ngSwitchDefault>it is not a vowel</p>
 </div>
 <h1>Loops in Angular</h1>
 <h4 *ngFor="let item of stud">Students are:{{item}}</h4>
 <h4 *ngFor="let item of studDetail">{{item.name}} -- {{item.email}} -- {{item.phone}}</h4>
<ul *ngFor="let item of SD_nested">
    <li>{{item.name}}</li>
    <li>{{item.email}}</li>
    <li>{{item.phone}}</li>
    <ul *ngFor="let user of item.socialAcounts">
    <li>{{user}}</li></ul>
</ul>

<h1 [style.color]="color1" [style.font-family]="fontFamily">Style Binding</h1>
<button (click)="updateColor()">Updat color</button>
<h1>Form</h1>
<form #basicForm="ngForm" (ngSubmit)="getDetails(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter User Name"/>
    <br><br>
    <input type="email" ngModel name="email" placeholder="Enter Email"/>
    <br><br>
    <input type="password" ngModel name="password" placeholder="Enter Password"/>
    <br><br>
    <label>Select Gender</label><br>
    <input type="radio" name="gender" ngModule value="Male"/>    
    <input type="radio" name="gender" ngModule value="Female"/>
    <input type="radio" name="gender" ngModule value="Other"/>
<br><br>
    <button>Register</button>
</form>
<h4>
    <ul>
        <li>{{userData.user}}</li>
        <li>{{userData.email}}</li>
        <li>{{userData.password}}</li>
        <li><div *ngIf="userData.gender">
            <p>Selected Gender: {{ userData.gender }}</p>
            </div>
         </li>
         

    </ul>
</h4>
<h1>toggle</h1>
<button (click)="toggle()">Toggle</button>
<h3 *ngIf="display">Toggle on Onclick </h3>
<h1>Bootstrap</h1>
<ngb-alert [dismissible]="false">
	<strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>
<ngb-alert [type]="'success'"> This alert's type is success and it's not dismissible because the config has been customized </ngb-alert>


<h1>Material UI</h1>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon>bookmark</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab disabled aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  
<br><br>
<h1>Todo List</h1>
<input type="text" placeholder="Enter a Task" #task/>
<br><br>
<button (click)="addTask(task.value)">Add Task</button>
<ul *ngFor="let item of list">
<li>{{item.name}} <button (click)="removeTask(item.id)">Remove Task</button></li>
</ul>
<h1>Send data:Parent to child component</h1>
<app-test5 [item1]="passdata"></app-test5>
<button (click)="updateChild()">click</button>

<!-- Reusable Component -->
<h1>Reusable Component</h1>
<ul *ngFor="let user of userdetail">  
  <app-userdetail [item1]="user"></app-userdetail>
</ul>

<!-- send data from child to parent -->
<app-child (updateparentEvent)="updateparent($event)"></app-child>
<p>{{Childdata}}</p>

<!-- two way binding -->
<h1>Two way binding</h1>
<input type="text" [(ngModel)]="myvar"/>
<h3>{{myvar}}</h3>
<br><br>

<!-- Template Refrence variable -->
<input type="text" #var1 placeholder="Enter text" name="User" id="User.input"/>
<button (click)="Refrence_value(var1)">Get input box</button>
<button (click)="Refrence_value(var1.value)">Get value</button>
<button (click)="Refrence_value(var1.placeholder)">Get placeholder</button>
<button (click)="Refrence_value(var1.name)">Get Name</button>
<button (click)="Refrence_value(var1.id)">Get Id</button>
<h3>{{myvariable}}</h3>

<!-- Basic Pipes -->
<h1>Basic Pipes</h1>
<p>{{basicpipe}}</p>
<p>UpperCase: {{basicpipe | uppercase}}</p>
<p>LowerCase: {{basicpipe | lowercase}}</p>
<p>Normal: {{basicpipe }}</p>
<br>
<p>ByDefault Date: <b>{{today}}</b></p>
<p>If You Want Only Date: <b>{{today | date}}</b></p>
<p>If You Want Full Date: <b>{{today | date:'fullDate'}}</b></p>

<!-- Advance Pipes -->
<h1>--Advance Pipes--</h1>
<p>{{advancepipe}}</p>
<p>Slice 5 index from start to the end: <b>{{advancepipe | slice:5}}</b></p>
<p>Slice from specified index to end of specified index: <b>{{advancepipe | slice:5:9}}</b></p>
<p>Use Two pipes at the same time:<b>{{advancepipe |uppercase | slice:5}}</b></p>
<p>{{user | json}}</p>
<p>Number pipe: {{20020.72647 | number:'2.3'}}</p>
<p>My actual Number <b> 0020020.72674 </b> and after pipe: {{20020.72647 | number:'2.3'}}</p>
<p>Number pipe: {{2.2 | number:'3.3'}}</p>
<p>For $ Currency by symbole {{200 | currency:'$'}}</p>
<p>For $ Currency by parameter {{200 | currency:'USD'}}</p>
<p>For Indian Currency by parameter {{2000 | currency:'INR'}}</p>


<!-- Custome Pipes -->
<p>{{20 | customePipe:72}}</p>


<!-- basic TypeScript -->
<h1>Basic type script</h1>
<button (click)="getdata(true)">Click</button>
<p>{{print}}</p>


<!-- Template Form -->
<h1>Template Form</h1>
<form #login="ngForm" (ngSubmit)="userLogin(login.value)"> 
<input type="text" #name placeholder="Enter Username" name="name" ngModel/>
<br><br>
<input type="password" placeholder="Enter Password" name="pass" ngModel/>
<br><br>
Male: <input type="radio" value="Male" ngModel name="gender" id="gender1" />
Female: <input type="radio" value="Female" ngModel name="gender" id="gender2"/>
Other: <input type="radio" value="other" ngModel name="gender" id="gender3"/>
<br><br>

<button>Login</button>
</form>

<!-- /Reactive Form -->
<h1>Reactive Form</h1>
<form [formGroup]="loginForm" (ngSubmit)="Login()"> 
<input type="text" placeholder="Enter Username" name="name"  formControlName="user1"/>
<br>
<span style="color:red" *ngIf="user_validation && user_validation.invalid && user_validation.touched">This field is required</span>
<br>
<input type="password" placeholder="Enter Password" name="pass" formControlName="pass1"/>
<br>
<span style="color:red" *ngIf="pass_validation && pass_validation.invalid && pass_validation.touched">This field is required</span>
<br>

<button [disabled]="loginForm.invalid">Login</button>
</form>


<!-- Directives -->
<h1>Directives</h1>
<h1 appDir1>Custome Directive</h1>
<app-parentdata></app-parentdata>